#sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100%;
    background-color: #777;
    color: #fff;
    padding: 2vw;
}

/* Define styles for the content area */
#content {
    margin-left: 1.5vh;
    /* Adjust this to accommodate the width of the side menu */
    padding: 1vw;
}

#toggleButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}
#toggleTheme {
    position: fixed;
    top: 20px;
    right: 120px;
    z-index: 1;
}
img {
    border: 5px solid white;
    margin: 5px;
    max-width:45%;
}
